@inject Microsoft.AspNetCore.Identity.SignInManager<UsuarioLogado> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<UsuarioLogado> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @* Barra de navegação *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand" asp-route-id="">Ecommerce</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link"
                   asp-action="CarrinhoCompras"
                   asp-controller="Home">
                    <h5>
                        Carrinho
                        <span class="badge badge-secondary">
                            Fake
                        </span>
                    </h5>
                </a>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="Logout"
                       asp-controller="Usuario">
                        <h5>Olá, @UserManager.GetUserName(User) Logout</h5>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="Login"
                       asp-controller="Usuario">
                        <h5>Login</h5>
                    </a>
                </li>
            }
        </ul>
    </nav>
    @* Conteúdo *@
    <div class="m-5">
        @RenderBody()
    </div>
    @* Rodapé *@
    <footer>
        <hr />
        <p style="text-align:center">
            &copy; @DateTime.Now.Year -
            Desenvolvido por Anderson Guidini
        </p>
    </footer>
</body>
</html>